# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Oy Calma Sim.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Oy Calma Sim\.idea\.idea.Oy Calma Sim\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
